<div class="jumbotron">
<div class="container">
<div class="well">
<h1>Members of the Team:</h1>

<table>
  <thead>
    <tr>
      <th class="post">First name | </th>
      <th class="post">| Last name | </th>
      <th class="post">| Phone number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="post"><%= user.first_name %></td>
        <td class="post"><%= user.last_name %></td>
        <td class="post"><%= user.phone_number %></td>
        <td class="links"> <%= link_to 'Edit', edit_user_path(user) %> |</td>
        <td class="links"> | <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
</div>
</div>
